@charset "UTF-8";

.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}

.bgm_view:hover .tooltiptext {
  visibility: visible;
}
