@charset "UTF-8";
@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.fontlee {
   font-family: 'establishRetrosansOTF';
}

.fontall{
   font-family: 'HBIOS-SYS';
}


.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}

.bgm_view:hover .tooltiptext {
  visibility: visible;
}
body{
	background: url('http://localhost:8081/ictedu/resources/img/backg2.png');
	background-repeat: no-repeat;
 	background-position: center;
 	background-attachment: fixed;
}
main {
	height: 535px;
	overflow: scroll;
	
}
::-webkit-scrollbar {
	display: none;
}
